body {
    background-color: #0D1B2A;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B263B;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Carrusel */
.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #1B263B;
    padding: 20px;
    border-radius: 50px;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    color: white; /* Color del icono */
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    transition: background 0.3s;
}

.carousel-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}


.contenedor-imagen {
    position: relative;
    text-align: center;
}

.contenedor-imagen img {
    width: 500px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.info-juego {
    position: absolute;
    right: 10px;    
    top: 120%;
    transform: translateY(-20%);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.precio {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* GOTYs */
.gotys {
    margin-top: 30px;
    padding: 20px;
}

.lista-gotys {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #1B263B, #0D1B2A);
    padding: 15px;
    border-radius: 10px;
}

.goty-item {
    display: flex;
    align-items: center;
}

.goty-item img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.info-goty {
    margin-left: 10px;
}

.estrellas {
    color: yellow;
}

